In [1]:
# Conectar 

import pymysql



# Crear la coneccion
mybd = pymysql.connect(

    # puede ser difente al de la base de datos
    user= "root",
    password = "mysql@123", 

    # tiene que ser igual al de la base de datos
    database = "w3school",
    host="localhost",
    port= 3306,
)


cursor = mybd.cursor()
print("Todo Correcto !")

Todo Correcto !

In [2]:
# INSERTAR 1 FILA O RECORD O INFORMACIO 0 

sql = "INSERT INTO customers (name,address) VALUES (%s, %s)"
val = ("Jhon", "Highway 21")

cursor.execute(sql, val)

mybd.commit()

print(cursor.rowcount, "Record Insertado")

1 Record Insertado

In [3]:
# INSERTAR VARIAS FILAS O RECORDS O INFORMACION

# executemany() -> para insertar varias filas
# The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:



sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

cursor.executemany(sql, val)

mybd.commit()

print(cursor.rowcount, "was inserted.")

13 was inserted.

In [4]:
# OBTENER LOS ID AL INSERTAR 
# Uusamos el metodo lastrowid

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
cursor.execute(sql, val)

mybd.commit()

print("1 record inserted, ID:", cursor.lastrowid)

1 record inserted, ID: 15