In [1]:
# Conectar 
import pymysql
# Crear la coneccion
mybd = pymysql.connect(

    # puede ser difente al de la base de datos
    user= "root",
    password = "mysql@123", 

    # tiene que ser igual al de la base de datos
    database = "w3school",
    host="localhost",
    port= 3306,
)


cursor = mybd.cursor()

print("Todo Correcto !")

Todo Correcto !

In [2]:
# # Ordenar el resultado
# Utilice la sentencia ORDER BY para ordenar el resultado 
# en orden ascendente o descendente.

# La palabra clave ORDER BY ordena el resultado de forma 
# ascendente por defecto. Para ordenar el resultado en orden 
# descendente, utilice la palabra clave DESC.

sql = "SELECT * FROM customers ORDER BY name"

cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(3, 'Amy', 'Apple st 652')
(11, 'Ben', 'Park Lane 38')
(7, 'Betty', 'Green Grass 1')
(13, 'Chuck', 'Main Road 989')
(4, 'Hannah', 'Mountain 21')
(1, 'Jhon', 'Highway 21')
(5, 'Michael', 'Valley 345')
(15, 'Michelle', 'Blue Village')
(2, 'Peter', 'Lowstreet 4')
(8, 'Richard', 'Sky st 331')
(6, 'Sandy', 'Ocean blvd 2')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(14, 'Viola', 'Sideway 1633')
(12, 'William', 'Central st 954')

In [4]:
sql = "SELECT * FROM customers ORDER BY id DESC"

cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(15, 'Michelle', 'Blue Village')
(14, 'Viola', 'Sideway 1633')
(13, 'Chuck', 'Main Road 989')
(12, 'William', 'Central st 954')
(11, 'Ben', 'Park Lane 38')
(10, 'Vicky', 'Yellow Garden 2')
(9, 'Susan', 'One way 98')
(8, 'Richard', 'Sky st 331')
(7, 'Betty', 'Green Grass 1')
(6, 'Sandy', 'Ocean blvd 2')
(5, 'Michael', 'Valley 345')
(4, 'Hannah', 'Mountain 21')
(3, 'Amy', 'Apple st 652')
(2, 'Peter', 'Lowstreet 4')
(1, 'Jhon', 'Highway 21')