In [1]:
# Conectar 

import pymysql

# Crear la coneccion
mybd = pymysql.connect(

    # puede ser difente al de la base de datos
    user= "root",
    password = "mysql@123", 

    # tiene que ser igual al de la base de datos
    database = "w3school",
    host="localhost",
    port= 3306,
)


cursor = mybd.cursor()

print("Todo Correcto !")

Todo Correcto !

In [2]:
# SELECCIONAR LOS ELEMENTOS DE LA TABLA custormers 
# Utilizamos el método fetchall(), que recupera todas las filas de la última sentencia ejecutada.
# Select all records from the "customers" table, and display the result: 

cursor.execute("SELECT * FROM customers")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(1, 'Jhon', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')
(15, 'Michelle', 'Blue Village')

In [3]:
# SELECCIONAR COLUMNAS ESPECIFICAS 

cursor.execute("SELECT name, address FROM customers")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Jhon', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [4]:
# METODO fetchone()

# Si sólo le interesa una fila, puede utilizar el método fetchone().
# El método fetchone() devolverá la primera fila del resultado:

cursor.execute("SELECT * FROM customers")

myresult = cursor.fetchone()

print(myresult)

(1, 'Jhon', 'Highway 21')