In [1]:
# Conectar 
import pymysql
# Crear la coneccion
mybd = pymysql.connect(

    # puede ser difente al de la base de datos
    user= "root",
    password = "mysql@123", 

    # tiene que ser igual al de la base de datos
    database = "w3school",
    host="localhost",
    port= 3306,
)


cursor = mybd.cursor()

print("Todo Correcto !")

Todo Correcto !

In [4]:
# SELECCIONAR CON FILTRO 

sql = "SELECT * FROM customers WHERE address='Park Lane 38' "

cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
    print(x)

(11, 'Ben', 'Park Lane 38')

In [7]:
# Caracteres comod√≠n
# puedo seleccionar el comienzo , que incluya o el final de una letra o frase 

# Usando % para representar el caracter comodin 


sql = "SELECT * FROM customers WHERE address LIKE '%way%'  "

cursor.execute(sql)

myresult = cursor.fetchall()

for x in myresult:
    print(x)

(1, 'Jhon', 'Highway 21')
(9, 'Susan', 'One way 98')
(14, 'Viola', 'Sideway 1633')

In [10]:
# PREVENIR : SQL INJECTION

# When query values are provided by the user, you should escape the values.

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

# The mysql.connector module has methods to escape query values:

sql = "SELECT * FROM customers WHERE address = %s"

adr = ("Yellow Garden 2",)

cursor.execute(sql, adr)

myresult = cursor.fetchall()

for x in myresult:
    print(x)

(10, 'Vicky', 'Yellow Garden 2')